<h1>Pages#three</h1>
<p>Find me in app/views/pages/three.html.erb</p>
<h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, id ipsum quisquam corrupti commodi fuga odio suscipit amet ullam iste sint facere nesciunt, ea nostrum aliquam, cum natus dignissimos temporibus!</h2>